/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }
    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'UMITOOLS_EXTRACT' {
        ext.args   = params.umi_extract_config_mm ?: ''
        publishDir = [
            [
                path: { "${params.outdir}/${meta.id}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
                mode: params.publish_dir_mode,
                pattern: "*.fq.gz",
                enabled: params.save_umiextract
            ],
            [
                path: { "${params.outdir}/${meta.id}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
                mode: params.publish_dir_mode,
                pattern: "{*,*/*}"
            ]
        ]
    }
    withName: 'CUTADAPT' {
        ext.args   = params.cutadapt_config ?: ''
        ext.args2  = ''
        ext.args3  = ''
        publishDir = [
                 path: { "${params.outdir}/${meta.id}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
                 mode: params.publish_dir_mode,
                 pattern: "*"
        ]
    }
    withName: 'EXTRACT_KCH_QC' {
        ext.args   = ''
        ext.args2  = params.manual_expected_reads ?: ''
        publishDir = [
                 path: { "${params.outdir}/${meta}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
                 mode: params.publish_dir_mode,
                 pattern: "*"
        ]
    }
    withName: 'COMBINE_KCH_QC' {
        ext.args   =  '1'
        ext.args2  =  '400'
        ext.args3  =  '12000000'
        ext.args4  =  'test_data'
        ext.args5  =  'truth_data'
        publishDir = [
                 path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
                 mode: params.publish_dir_mode,
                 pattern: "*"
        ]
    }
    withName: 'ISEC_VALIDATION' {
        ext.args   =  params.isec_exclude_filter_1 ?: ''
        ext.args2  =  params.isec_exclude_filter_2 ?: ''
        publishDir = [
                 path: { "${params.outdir}/${meta}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
                 mode: params.publish_dir_mode,
                 pattern: "{*,*/*}"
        ]
    }
    withName: 'CONCORDANT_VARIANTS_PLOTTING_VARDICT' {
        ext.args   =  ''
        ext.args2  = params.expected_data_source ?: ''
        ext.args3  = params.observed_data_source ?: ''
        ext.args4  = params.batch_concordant_plot_depth ?: ''
        ext.args5  = params.normalize_depth ?: ''
        publishDir = [
                 path: { "${params.outdir}/${meta}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
                 mode: params.publish_dir_mode,
                 pattern: "*"
        ]
    }
    withName: 'BATCH_CONCORDANT_VARIANTS_PLOTTING_VARDICT  ' {
        ext.args   =  ''
        ext.args2  = params.expected_data_source ?: ''
        ext.args3  = params.observed_data_source ?: ''
        ext.args4  = params.batch_concordant_plot_depth ?: ''
        ext.args5  = params.normalize_depth ?: ''
        publishDir = [
                 path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
                 mode: params.publish_dir_mode,
                 pattern: "*"
        ]
    }
    withName: 'BATCH_SENSITIVITY_SPECIFICITY  ' {
        ext.args   =  ''
        ext.args2  = params.expected_data_source ?: ''
        ext.args3  = params.observed_data_source ?: ''
        ext.args4  = params.info_tags_to_merge ?: ''
        ext.args5  = params.info_tags_to_print ?: ''
        
        publishDir = [
                 path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
                 mode: params.publish_dir_mode,
                 pattern: "*"
        ]
    }
    withName: 'COMPARE_CNVKIT_BED' {
        ext.args   =  ''
        ext.args2  =  ''
        publishDir = [
                 path: { "${params.outdir}/${meta}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
                 mode: params.publish_dir_mode,
                 pattern: "*"
        ]
    }
}
